body {
    width: 60%;
    max-width: 1000px;
    margin: 10px auto 0 300px;
    font-family: Georgia, serif;
    font-size: 18px;
}

header {
    text-align: center;
    background: url(Why.jpg) center 0 no-repeat;
    background-size: auto;
    height: 600px;
    position: relative;
}

header h1 {
    color: #fff;
    margin: 0 20%;
}

h1, h2, h3, h4 {
    font-weight: bold;
    margin: 0;
    padding: 0.2em 0 0.2em 0;
    text-align: center;
}
