@font-face {
    font-family: local-serif;
    src: url(../docs/assets/PTSerif-Regular.ttf);
}

@font-face {
    font-family: local-serif;
    src: url(../docs/assets/PTSerif-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: local-sans;
    src: url(../docs/assets/PTSans-Regular.ttf);
}

@font-face {
    font-family: local-sans;
    src: url(../docs/assets/PTSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: local-monospace;
    src: url(../docs/assets/RobotoMono-Regular.ttf);
}
