html > body {
    font-family: 'Vollkorn', serif;
    font-size: 14pt;
    text-align: justify;
    width: 98%;
}

.cc-by-nc {
    background: transparent none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    page-break-after: avoid;
}

h1 {
    display: none;
}

h2 {
    font-size: 160%;
    text-transform: uppercase;
    page-break-after: avoid;
}

h3 {
    font-size: 140%;
}

h3 a,
h5 a {
    color: inherit;
}

h4,
h5 {
    font-size: 120%;
}

p,
div {
    widows: 2;
    orphans: 2;
}

pre,
code {
    font-family: 'Roboto Mono', monospace;
}

body > article {
    margin: 0;
    padding: 0;
}

p {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
