html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body,
h6 {
    font-family: 'PT Serif';
    font-size: 14pt;
    text-align: justify;
}

.cc-by-nc-img {
    display: block;
    float: left;
    margin-top: 5px;
}

.cc-by-nc {
    margin-left: 92px;
}

.cc-by-nc::after {
    clear: left;
}

code,
pre {
    font-family: Inconsolata, sans-serif;
}

code {
    white-space: nowrap;
}

.img-wrapper img {
    max-width: 100%;
}

pre {
    margin: 1em 0;
    padding: 1em;
    border-radius: 0.25em;
    border-top: 1px solid rgba(0, 0, 0, 0.45);
    border-left: 1px solid rgba(0, 0, 0, 0.45);
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
    page-break-inside: avoid;
    overflow-x: auto;
    font-size: 90%;
}

img:not(.cc-by-nc-img) {
    border: 1px solid darkgray;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
}

pre code {
    white-space: pre;
}

.page-break {
    page-break-after: always;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: left;
    font-family: 'PT Sans';
    font-weight: bold;
    page-break-after: avoid;
}

h6 {
    font-size: 80%;
    color: darkgray;
    text-align: center;
    padding: 0;
    margin: 0 1em 0 2em;
    font-weight: normal;
}

h6 a {
    color: darkgray;
    font-weight: bolder;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
    text-transform: uppercase;
}

h3 {
    font-size: 140%;
    font-variant: small-caps;
}

h4,
h5 {
    font-size: 120%;
}

.annotation {
    text-align: left;
}

ul.table-of-contents {
    list-style-type: none;
    padding-left: 0;
}

ul.table-of-contents li {
    text-transform: uppercase;
}

ul.table-of-contents ul {
    list-style-type: none;
}

ul.table-of-contents ul li {
    text-transform: none;
}

a.anchor {
    color: inherit;
    text-decoration: none;
}

@media screen {
    body {
        margin: 2em auto;
        max-width: 60%;
    }
    .github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }

    a.anchor:before {
        display: inline-block;
        content: '¶';
        width: 0.8em;
        color: lightgray;
        text-indent: 0;
    }

    h5 a.anchor:before {
        color: transparent;
    }

    a.anchor:hover:before {
        color: black;
    }

    h2:not(.toc),
    h3,
    h5 {
        text-indent: -0.8em;
    }

    @keyframes octocat-wave {
        0%,
        100% {
            transform: rotate(0);
        }
        20%,
        60% {
            transform: rotate(-25deg);
        }
        40%,
        80% {
            transform: rotate(10deg);
        }
    }
}

@media screen and (max-width: 1000px) {
    body {
        padding: 2em;
        margin: 0;
        max-width: none;
        text-align: left;
    }

    pre {
        margin: 0;
        padding: 0.2em;
    }

    ul,
    ol {
        padding-left: 1em;
    }

    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
