body {
    font-family: 'PT Serif';
    font-size: 14pt;
    text-align: justify;
}

.cc-by-nc {
    background: transparent url(https://i.creativecommons.org/l/by-nc/4.0/88x31.png) 0 5px no-repeat;
    padding-left: 92px;
}

code, pre {
    font-family: Inconsolata, sans-serif;
}

code {
    white-space: nowrap;
}

pre {
    margin: 1em 0;
    padding: 1em;
    border-radius: .25em;
    border-top: 1px solid rgba(0,0,0,.45);
    border-left: 1px solid rgba(0,0,0,.45);
    box-shadow: .1em .1em .1em rgba(0,0,0,.45);
    page-break-inside: avoid;
    overflow-x: auto;
    font-size: 80%;
}

pre code {
    white-space: pre;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    text-align: left;
    font-family: 'PT Sans';
    font-weight: bold;
    page-break-after: avoid;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
    text-transform: uppercase;
}

h3 {
    font-size: 140%;
    font-variant: small-caps;
}

h4, h5 {
    font-size: 120%;
}

