html, body {
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

.github-corner {
    display: none;
}

pre, img {
    margin-right: 0.1em;
}

h1, h2, h3, h4, h5, h6 {
    page-break-after: never;
}

img {
    margin-top: 1em;
    page-break-after: never;
}

:root {
    --main-font: 'PT Serif';
    --alt-font: 'PT Serif';
    --code-font: Inconsolata;
}

.cover {
    background-image: url(./src/cover_300dpi.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width: 100%;
    height: 10.05in;
    margin: 0;
    padding: 0;
}

.annotation {
    padding-top: 5in;
}

h1 {
    padding: 1in 0.5in;
    font-size: 40pt;
    margin: 0;
}

p, ul, ol {
    orphans: 4;
}

@page {
    margin: 0.5in;
    size: 8.5in 11in;
}

@page:first {
    margin: 0;
    size: 7.5in 10in;
}