html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Serif';
    font-size: 14pt;
    text-align: justify;
}

.cc-by-nc {
    background: transparent url(https://i.creativecommons.org/l/by-nc/4.0/88x31.png) 0 5px no-repeat;
    padding-left: 92px;
}

code, pre {
    font-family: Inconsolata, sans-serif;
}

code {
    white-space: nowrap;
}

pre {
    margin: 1em 0;
    padding: 1em;
    border-radius: .25em;
    border-top: 1px solid rgba(0,0,0,.45);
    border-left: 1px solid rgba(0,0,0,.45);
    box-shadow: .1em .1em .1em rgba(0,0,0,.45);
    page-break-inside: avoid;
    overflow-x: auto;
    font-size: 90%;
}

pre code {
    white-space: pre;
}

.page-break {
    page-break-after: always;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    text-align: left;
    font-family: 'PT Sans';
    font-weight: bold;
    page-break-after: avoid;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
    text-transform: uppercase;
}

h3 {
    font-size: 140%;
    font-variant: small-caps;
}

h4, h5 {
    font-size: 120%;
}

ul.table-of-contents {
    list-style-type: none;
    padding-left: 0;
}

ul.table-of-contents li {
    text-transform: uppercase;
}

ul.table-of-contents ul {
    list-style-type: none;
}

ul.table-of-contents ul li {
    text-transform: none;
}

a.anchor {
    color: lightgray;
}

a.anchor:hover {
    color: black;
}

a.anchor:after {
    display: inline-block;
    content: '¶';
    padding-right: 0.3em;
}

@page {
    size: 8.5in 11in;
    margin: 0.5in;
}

:root {
	--main-font: 'PT Serif';
	--alt-font: 'PT Serif';
	--code-font: Inconsolata;
}

@media screen {
    body {
        margin: 2em auto;
        max-width: 60%;
    }
    .github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
    @keyframes octocat-wave {
        0%,
        100% {
            transform: rotate(0);
        }
        20%,
        60% {
            transform: rotate(-25deg);
        }
        40%,
        80% {
            transform: rotate(10deg);
        }
    }
}

@media print {
    h1 {
        margin: 4in 0 4in 0;
    }
    body {
        font-size: 14pt;
    }

    .github-corner {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    body {
        padding: 2em;
        margin: 0;
        max-width: none;
        text-align: left;
    }

    pre {
        margin: 0;
        padding: 0.2em;
    }

    ul, ol {
        padding-left: 1em;
    }

    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
