@font-face {
    font-family: local-serif;
    src: url(../assets/PTSerif-Regular.ttf);
}

@font-face {
    font-family: local-serif;
    src: url(../assets/PTSerif-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: local-sans;
    src: url(../assets/PTSans-Regular.ttf);
}

@font-face {
    font-family: local-sans;
    src: url(../assets/PTSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: local-monospace;
    src: url(../assets/RobotoMono-VariableFont_wght.ttf);
}

body {
    font-family: local-serif;
}

pre,
code {
    font-family: local-monospace;
}
