@font-face {
    font-family: local-serif;
    src: url(./Vollkorn-VariableFont_wght.ttf);
}

@font-face {
    font-family: local-serif;
    src: url(./Vollkorn-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: local-serif;
    src: url(./Vollkorn-Italic-VariableFont_wght.ttf);
    font-style: oblique;
}

@font-face {
    font-family: local-sans;
    src: url(./PTSans-Regular.ttf);
}

@font-face {
    font-family: local-sans;
    src: url(./PTSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: local-monospace;
    src: url(./RobotoMono-VariableFont_wght.ttf);
}

body {
    font-family: local-serif;
}

pre,
code {
    font-family: local-monospace;
}

h1,
h2,
h3,
h4,
input,
button {
    font-family: local-sans;
}
