@font-face {
    font-family: local-serif;
    src: url(/fonts/Vollkorn-VariableFont_wght.ttf);
}

@font-face {
    font-family: local-serif;
    src: url(/fonts/Vollkorn-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: local-serif;
    src: url(/fonts/Vollkorn-Italic-VariableFont_wght.ttf);
    font-style: oblique;
}

@font-face {
    font-family: local-sans;
    src: url(../assets/PTSans-Regular.ttf);
}

@font-face {
    font-family: local-sans;
    src: url(../assets/PTSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: local-monospace;
    src: url(../assets/RobotoMono-VariableFont_wght.ttf);
}

body {
    font-family: local-serif;
}

pre,
code {
    font-family: local-monospace;
}
